/* 全体 */
body {
	background-color: #E6FFE9;
	/* 背景色  */
	text-align: center;
	/* 中央寄せ */
	min-width: 900px;
	/* 最小幅 */

}

/* ヘッダー、ナビゲーションメニュー */
header,
nav {
	font-family: Garamond;
	background-color: #CBFFD3;
	/* 背景色 */
	color: #E0FFFF;
	/*	文字色 */
	padding-top: 5px;
	/*	 内側余白(上) */
	padding-bottom: 5px;
	/*	  内側余白(下) */
}

.sell-con {
	background-color: white;
}


/*フッター*/
footer {
	font-family: Tahoma;
}


/* ヘッダー、ナビゲーション内リンク */
header a {
	color: #FF5192;
}

nav a {
	color: whitesmoke;
}

/* ヘッダー内見出し */
header h1 {
	font-size: 50pt;
	margin: 10px auto;
	font-style: Brush Script MT;
}

/* ヘッダー出品ボタン */
.example {
	margin-right: 50px;
	background-color: tomato;
	width: 70px;

	box-sizing: border-box;
}

.example :hover {
	background-color: #E0FFFF;
}


/* 仕切り線 */
hr {
	border-top: 2px dashed #7d8bae;
}

.hr1{
	border-top: 1px solid #808080;
}

/* メイン */
main {
	background-color: #FFFFFF;
	min-height: 50px;
	padding: 20px;
}

/* 表線 */
table,
th,
td {
	border-collapse: collapse;
	/*	border: 1px solid #7d8bae;*/
}

/* 表 */
table {
	margin: 5px auto;
	min-width: 800px;

}

/* 表見出しセル */
table th {
	background: #3CB371;
	color: #ffffff;
}

/*新規登録*/
table.new_accountt {
	border-spacing: 0;
	border: 1px solid #7d8bae;
}

table.new_account th {
	color: #666666;
	background: white;
	padding: 6px 0;
	text-align: right;


}

table.new_account td {
	text-align: center;
	border-left: #7d8bae;
}

/*商品詳細*/


table.detail th {
	color: #666666;
	background: white;
	padding: 6px 0;
	text-align: right;
}

table.detail td {
	text-align: left;
	border-left: #7d8bae;
}



/*個人情報確認*/
table.order_account {
	margin-left: auto;
	border-spacing: 0;
	border: 1px solid #7d8bae;
}

table.order_account th {
	color: #666666;
	background: white;
	padding: 8px 0;
}

/*登録ボタン*/
.add {
	background-color: #FFD700;
	width: 100px;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
}

.add :hover {
	background-color: #E0FFFF;
}



/*この内容で確定するボタン*/
.order {
	margin-right: 100px;
	background-color: #FFD700;
	width: 150px;
	padding: 10px;
	box-sizing: border-box;
}

.order :hover {
	background-color: #E0FFFF;
}

/*住所変更ボタン*/
.change_add {
	background-color: #DDFFFF;
	width: 150px;
	box-sizing: border-box;
}

.change_add :hover {
	background-color: #E0FFFF;
}

/*出品ボタン*/
.sell {
	background-color: #FF4F02;
	color: #FFFFF0;
	width: 100px;
	box-sizing: border-box;
}

.sell :hover {
	background-color: #E0FFFF;
}

/*カート追加ボタン*/
.cart-add {
	font-weight: bold;
	background-color: #FF9933;
	width: 100px;
	box-sizing: border-box;
}

.cart-add :hover {
	background-color: #E0FFFF;
}



/*注文確定ボタン*/
.cart-order {
	font-weight: bold;
	background-color: #FF9933;
	width: 170px;
	box-sizing: border-box;
}

.cart-order :hover {
	background-color: #E0FFFF;
}

/*総計太文字*/
.text-bold {
	
	font-weight: bold;
	text-align: right;
	font-size: 25px;
	color: red;
}

/*カート一覧*/

.table-cart{
	border-bottom:1px #DDDDDD solid;
}

.product-details1{
	color: #999999;
}

.product-price1{
	color: #999999;
}

.product-image1{
	visibility: hidden;
}

.product-removal1{
	visibility: hidden;
}


.product-image {
	float: left;
	width: auto;
}

.product-details {
	
	width: 37%;
}

.product-price {
	
	width: 12%;
}

.product-removal {
	width: 50%;
}






/* 送信ボタン */
/*button {*/
/*	margin: 2px;*/
/*	padding: 5px 20px;*/
/*	background-color: #e5857b;*/
/*	color: #ffffff;*/
/*	border: none;*/
/*	width:150px;*/
/*	cursor: pointer;*/
/*}*/
/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: #f1b2b2;
}