<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>会員登録</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header>
		<h1 style="color: #FF5192; text-align:center">Shibakari</h1>
	</header>
	<main>
		<h3>アカウントを作成</h3>

		<form action="/account" method="post">

			<ul th:if="${errorList}" class="error">
				<div th:each="error:${errorList}" th:text="${error}" style="color: red"></div>
			</ul>


			<table class="new_account">

				<tr>
					<th>名前</th>
					<td>
						<input type="text" name="name" th:value="${name}" placeholder="名前">
					</td>
				</tr>

				<tr>
					<th>パスワード</th>
					<td>
						<input type="text" name="password" placeholder="８文字以上12文字以下">
					</td>
				</tr>

				<tr>
					<th>電話番号</th>
					<td>
						<input type="text" name="tel" th:value="${tel}" placeholder="ハイフン無し">
					</td>
				</tr>

				<tr>
					<th>メールアドレス</th>
					<td>
						<input type="text" name="email" th:value="${email}" placeholder="メールアドレス">
					</td>
				</tr>

				<tr>
					<th>住所</th>
					<td>
						<input type="text" name="address" th:value="${address}" placeholder="住所">
					</td>
				</tr>


			</table>
			<button class="add">登録</button>
		</form>
		</div>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>

</html>