<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>会員登録</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<h1>サンプルショッピング</h1>
	</header>
	<main>
		<h3>お客様情報</h3>
		<form action="/account" method="post">
			
			<ul th:if="${errorList}" class="error">
				<li th:each="error:${errorList}" th:text="${error}"></li>
			</ul>
			
			<table border="1">
				<tr>
					<th>お名前</th>
					<td>
						<input type="text" name="name" th:value="${name}">
					</td>
				</tr>
				<tr>
					<th>住所</th>
					<td>
						<input type="text" name="address" th:value="${address}">
					</td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td>
						<input type="text" name="tel" th:value="${tel}">
					</td>
				</tr>
				<tr>
					<th>e-mail</th>
					<td>
						<input type="text" name="email" th:value="${email}">
					</td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td>
						<input type="text" name="password">
					</td>
				</tr>
			</table>
			<button>登録</button>
		</form>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>