<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cart</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<hr>
	<main>
		<a href="/order/addaddress?change=change">新規追加</a>
		
		<th:block th:if="${change}">
			<form action="/order/addaddress" method="get">
				新規追加：
				<input type="text" name="addAddress">
				<button>追加</button>
			</form>
		</th:block>
		
		<form action="/order/confirm" method="post">
			<span th:each="address:${addressList}">
				<input type="radio" name="changeAddress" th:value="${address.address}"> [[${address.address}]]
				<br>
			</span>
			<input type="hidden" name="name" th:value="${customer.name}">
			<input type="hidden" name="address" th:value="${customer.address}">
			<input type="hidden" name="tel" th:value="${customer.tel}">
			<input type="hidden" name="email" th:value="${customer.email}">
			<button>変更</button>
		</form>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>