<table border="1">
	<tr>
		<th>画像</th>
		<th>商品名</th>
		<th>値段</th>
		<th></th>
	
	</tr>
	<tr th:each="item:${@cart.items}">
				<td>
					<img th:src="|data:image/png;base64,${item.image}|">
				</td>
				<td th:text="${item.name}"></td>
				<td th:text="${item.price}"></td>
		<td>
			<form action="/cart/delete" method="post">
				<input type="hidden" name="itemId" th:value="${item.id}">
				<button>削除</button>
			</form>
		</td>
	</tr>
	</table>
	
		<div class="text-bold"> 総計：[[${@cart.totalPrice}]]
		</div>
	
