<footer class="footer_all">
	<div class="lg-flex md-justify-between">
    <div>
		<a href="/items" style="font-family: Brush Script MT;
	color: #FF5192; font-size: 30px;">Shibakari
      </a>
      <address class="footer__address">
        株式会社Momotaro<br>
        〒105-6390 東京都港区虎ノ門1丁目23番１号
        <br>
        TEL：03-6262-3553 
        <br>
         Email：onitaiji@momotaro.co.jp
      </address>
      <div class="oni" style="border: none;outline: none; background: transparent;
			position: absolute;">
	    <img src="/images/oni.png" alt="" width="93" height="86" onmouseover="this.src='/images/oni4.png'" onmouseout="this.src='/images/oni.png'">
	    
      </div>
    </div>
    <div class="grid">
      <div>
        <p class="footer__navi-heading">SERVICE</p>
        <ul class="footer__navi">
          <li><a href="#">お知らせ</a></li>
          <li><a href="#">プライバシーポリシー</a></li>
          <li><a href="#">Shibakari利用規約</a></li>
          <li><a href="#">ヘルプ</a></li>
        </ul>
        <p class="footer__navi-heading">SUSTAINABILITY</p>
        <ul class="footer__navi">
          
        </ul>
        
      </div>
      <div>
        <p class="footer__navi-heading">FOLLOW US</p>
        <ul class="footer__navi">
          <li><a href="#">X(旧Twitter)</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">YouTube</a></li>
        </ul>
      </div>
      <div>
        <p class="footer__navi-heading">ABOUT</p>
        <ul class="footer__navi">
          <li><a href="#">会社概要</a></li>
          <li><a href="#">採用情報</a></li>
          <li><a href="#">お問い合わせ</a></li>
          <li><a href="#">サイトマップ</a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr />
	<small>&copy; Momotaro</small>
</footer>