<footer>
	<div class="lg-flex md-justify-between">
    <div>
		<a href="/items"　class="footer__logo">Shibakari
      </a>
      <address class="footer__address">
		  <br>
        株式会社Momotaro<br>
        〒105-6390 東京都港区虎ノ門1丁目23番１号<br />
        TEL：<a href="tel:">03-6262-3553</a> 
        <br>
         Email：onitaiji@momotaro.co.jp<br />
      </address>
    </div>
    <div class="grid">
      <div>
        <p class="footer__navi-heading">SERVICE</p>
        <ul class="footer__navi">
          <li><a href="#">お知らせ</a></li>
          <li><a href="#">プライバシーポリシー</a></li>
          <li><a href="#">Shibakari利用規約</a></li>
          <li><a href="#">ヘルプ</a></li>
        </ul>
        <p class="footer__navi-heading">SUSTAINABILITY</p>
        <ul class="footer__navi">
          
        </ul>
        
      </div>
      <div>
        <p class="footer__navi-heading">FOLLOW US</p>
        <ul class="footer__navi">
          <li><a href="#">X(旧Twitter)</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">YouTube</a></li>
        </ul>
      </div>
      <div>
        <p class="footer__navi-heading">ABOUT</p>
        <ul class="footer__navi">
          <li><a href="#">会社概要</a></li>
          <li><a href="#">採用情報</a></li>
          <li><a href="#">お問い合わせ</a></li>
          <li><a href="#">サイトマップ</a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr />
	<small>&copy; Momotaro</small>
</footer>