<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<hr>
	<nav style="background-color: #3CB371;">

		<form action="/items" method="get">
			<span th:each="category:${categories}">
				<input type="radio" name="categoryId" th:value="${category.id}"> [[${category.name}]]
			</span>
			<br>
			名前：<input type="text" name="keyword" th:value="${session.keyword}">
			値段：<input type="text" name="minPrice" th:value="${session.minPrice}">以上
				  <input type="text" name="maxPrice" th:value="${session.maxPrice}">以下
			<button>検索</button>
		</form>
		
	</nav>
	<main>
		<table th:each="item:${items}">
			<tr>
				<td colspan="3">
					<th:block th:if="${item.stock}==1">on sell</th:block>
					<th:block th:if="${item.stock}==0">sold out</th:block>
				</td>
			</tr>
			<tr>
				<td>
					<form action="/items/detail" method="get">
						<input type="hidden" name="itemId" th:value="${item.id}">
						<button><img th:src="|data:image/png;base64,${item.image}|"></button>
					</form>
				</td>
				<td th:text="${item.name}"></td>
				<td th:text="${item.price}"></td>
			</tr>
		</table>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>