<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<hr>
	<nav style="background-color: #3CB371;">

		<form action="/items" method="get">
			<span th:each="category:${categories}">
				<input type="radio" name="categoryId" th:value="${category.id}"> [[${category.name}]]
			</span>
			<br>
			名前：<input type="text" name="keyword" th:value="${keyword}">
			値段：<input type="number" name="minPrice" th:value="${minPrice}">以上
				  <input type="number" name="maxPrice" th:value="${maxPrice}">以下
			<button>検索</button>
		</form>
		
	</nav>
	<main>
		<ul th:if="${errorList}" class="error">
			<div th:each="error:${errorList}" th:text="${error}" style="color: red"></div>
		</ul>
		<div class="item-all"><th:block th:if="${category}">
			[[${category.name}]]
		</th:block>
		<th:block th:if="${cateory}==null">
			All Category
		</th:block>
			<br>
		</div>
		<table>
			<br><br>
			<span th:each="item:${items}">
			<tr>
				<span th:each="i:${item.items}">
				<td>
					<th:block th:if="${i.stock}==1">
						<form action="/items/detail" method="get">
							<input type="hidden" name="itemId" th:value="${i.id}">
							<button><img th:src="|data:image/png;base64,${i.image}|" width="200" height="200"></button>
						</form>
						<span class="item-name" style="text-align: left;">
						[[${i.name}]]<br></span>
						[[${i.price}]]円
					</th:block>
					<th:block th:if="${i.stock}==0">
						<img src="/images/soldout.jpg" alt="lose">
						<br>
						[[${i.name}]]<br>
						[[${i.price}]]
					</th:block>
				</td>
				</span>
			</tr>
			</span>
		</table>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>