<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>出品完了</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<main>
		<br>
		<h3>出品完了しました</h3>
		<br>
		<form action="/items" style="position: relative;">
			<button style="border: none;outline: none; background: transparent;
			position: absolute;right: 0;bottom: 0;" onMouseOut="this.style.filter='none';"
			 onMouseOver="this.style.filter='brightness(1.3)'">
				<img src="/images/momo.png" alt="lose" width="100" height="100">
			</button>
		</form>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>