<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>出品完了</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<main>
		<h3>出品完了しました</h3>
		<form action="/items" style="position: relative;">
			<button style="border: none;outline: none; background: transparent;
			position: absolute;right: 0;bottom: 0;">
				<img src="/images/momo.png" alt="lose" width="50" height="50">
			</button>
		</form>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>