<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>出品確認</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="sell-con">
	<header th:replace="header"></header>
		<form action="/sell/regist" method="post">
			<img th:src="|data:image/png;base64,${item.image}|" width="200" height="200"><br>
			商品名：<span th:text="${item.name}"></span><br>
			カテゴリー：<span th:text="${item.category.name}"></span><br>
			商品状態：<span th:text="${item.condition}"></span><br>
			価格：<span th:text="${item.price}"></span>円<br>
			商品説明：<br>
			<span th:utext="${item.detail}"></span><br>
		<br>
		<button class="sell">出品する</button>	
		</form><br>
		</div>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>