<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>出品一覧</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="header"></header>
	<hr>
	<main>
		<h1 style="text-align: left;">On Sale</h1>
		<hr class="hr1">

		<th:block th:if="${sellAll}!=0">

			<table>
				<tr>
					<td class="product-image1">Image</td>
					<td class="product-details1">商品名</td>
					<td class="product-price1">価格</td>
					<td class="product-removal1">Remove</td>
				</tr>
				<tr class="table-cart" th:each="item:${sellAll}">
					<td>
						<img th:src="|data:image/png;base64,${item.image}|" width="200" height="200">
					</td>
					<td class="product-details" th:text="${item.name}"></td>
					<td class="product-price" th:text="${item.price}"></td>
					<td>
						<form action="/sell/delete" method="post">
							<input type="hidden" name="itemId" th:value="${item.id}">
							<button class="product-removal">削除</button>
						</form>
					</td>
				</tr>
			</table>
		</th:block>

		<th:block th:if="${sellAll}==0">
			出品した商品はありません
		</th:block>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>

</html>