<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/upload" method="post" enctype="multipart/form-data">
    	<input type="file" name="file" class="file">
    	<input type="submit" value="送信">
  </form>
  
  <script>
	  let inputFile = document.querySelector(".file");
	  inputFile.addEventListener("click", fff)		  
	  
	  function fff() {
	  	document.body.onfocus = f;
	  }
	  
	  function f() {
		 setTimeout(() => {
			 
			if (inputFile.value.length) {
	      		//console.log("ファイル選択イベント取得 !!");
	      		alert('OK');
	    	} else {
	      		//console.log("ファイルキャンセルイベント取得 !!");
	      		alert('NG');
	    	}
	    	
     		document.body.onfocus = null;
   		}, 500);
    	
	  }
  </script>
  
	
</script>
	  
</body>
</html>